h1
  | TOP PAGE
<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">
br
.img_block
  img#top-image[src="https://wallpaperaccess.com/full/139513.jpg" alt="top image" title="top image"]
